n8n/claud3-workflow.json
{
  "name": "Claud3 \u2014 Clubhouse Bot",
  "nodes": [
    {
      "id": "08749385-6842-443a-8aa5-8a3c89f7c025",
      "name": "Supabase Message Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        128
      ],
      "parameters": {
        "httpMethod": "POST",
        "path": "claud3-clubhouse",
        "responseMode": "onReceived",
        "options": {
          "noResponseBody": true
        }
      },
      "webhookId": "e00884d6-f133-49e9-8e74-1f522ab49feb"
    },
    {
      "id": "cd2d33cf-0a87-498f-878e-ce9746ccead0",
      "name": "Is @Claud3 Mentioned?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        224,
        128
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.body.record.body }}",
              "operator": {
                "type": "string",
                "operation": "contains"
              },
              "rightValue": "@Claud3"
            },
            {
              "leftValue": "={{ $json.body.record.nick }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              },
              "rightValue": "Claud3"
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "b76ec6e6-b249-49a6-ad5d-803da615ee43",
      "name": "Fetch Recent Messages",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        448,
        128
      ],
      "parameters": {
        "method": "GET",
        "url": "={{ $json.body.record.room ? \"https://cavefhuklhkhvviqsjrg.supabase.co/rest/v1/messages?room=eq.\" + $json.body.record.room + \"&order=created_at.desc&limit=20\" : \"https://cavefhuklhkhvviqsjrg.supabase.co/rest/v1/messages?room=eq.claude-code-gang&order=created_at.desc&limit=20\" }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {},
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.httpHeaderAuth.value }}"
            }
          ]
        }
      },
      "onError": "continueErrorOutput",
      "credentials": {
        "httpHeaderAuth": {
          "id": "GeyQoAtWxl3jUusa",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "id": "7ce8b052-51bd-4af0-8ecf-7c0da238ac6b",
      "name": "Build Claude Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        48
      ],
      "parameters": {
        "mode": "runOnceForAllItems",
        "language": "javaScript",
        "jsCode": "const webhookData = $('Supabase Message Webhook').first().json;\nconst triggerRecord = webhookData.body.record;\n// Fetch returns the messages array split into one item per row\nconst rows = $('Fetch Recent Messages').all().map(i => i.json).filter(r => r && r.body);\nconst chronological = [...rows].reverse();\nconst transcript = chronological.map(m => `[${m.nick}]: ${m.body}`).join('\\n');\nconst userContent = `Here is the recent chat transcript:\\n${transcript}\\n\\nNow respond to the latest message that mentioned you. The triggering message was from [${triggerRecord.nick}]: ${triggerRecord.body}`;\nreturn [{ json: { userContent, triggerNick: triggerRecord.nick, triggerBody: triggerRecord.body, room: triggerRecord.room } }];"
      }
    },
    {
      "id": "3631f0d0-235a-47b0-8014-df994ed60613",
      "name": "Call Claude API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        48
      ],
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "anthropicApi",
        "credentials": {
          "anthropicApi": {
            "id": "kBlXWWkHqdKURUJ7",
            "name": "Anthropic account"
          }
        },
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"model\": \"claude-sonnet-4-6\", \"max_tokens\": 300, \"system\": \"You are Claud3 \u2014 a friendly, terse IRC-style bot in the Claude Code Gang channel, a private chat room for builders at Redwood Services. You live in the channel the way an old IRC regular would. Be helpful and direct, never corporate or verbose. Keep replies to 1-3 short lines max. Occasionally drop a \ud83c\udf32 when it feels natural but don't force it. You can be witty, warm, and a little dry. You're here to help, not to perform.\", \"messages\": [{ \"role\": \"user\", \"content\": $json.userContent }] } }}"
      },
      "onError": "continueErrorOutput",
      "credentials": {
        "anthropicApi": {
          "id": "kBlXWWkHqdKURUJ7",
          "name": "Anthropic account"
        }
      }
    },
    {
      "id": "e6b6208a-5a90-494b-bff7-b048fcd4b159",
      "name": "Insert Claud3 Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        0
      ],
      "parameters": {
        "method": "POST",
        "url": "https://cavefhuklhkhvviqsjrg.supabase.co/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {},
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.httpHeaderAuth.value }}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"room\": $(\"Build Claude Prompt\").item.json.room, \"nick\": \"Claud3\", \"kind\": \"bot\", \"body\": $json.content[0].text } }}"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "GeyQoAtWxl3jUusa",
          "name": "Supabase Service Key"
        }
      }
    },
    {
      "id": "d4366fb0-da18-4c94-a0d9-8bc68fc2d78f",
      "name": "Insert Fallback Reply",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1120,
        224
      ],
      "parameters": {
        "method": "POST",
        "url": "https://cavefhuklhkhvviqsjrg.supabase.co/rest/v1/messages",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "credentials": {},
        "sendHeaders": true,
        "specifyHeaders": "keypair",
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $credentials.httpHeaderAuth.value }}"
            },
            {
              "name": "Prefer",
              "value": "return=minimal"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "{ \"room\": \"claude-code-gang\", \"nick\": \"Claud3\", \"kind\": \"bot\", \"body\": \"\ud83c\udf32 brain hiccup \u2014 try me again\" }"
      },
      "executeOnce": true,
      "credentials": {
        "httpHeaderAuth": {
          "id": "GeyQoAtWxl3jUusa",
          "name": "Supabase Service Key"
        }
      }
    }
  ],
  "connections": {
    "Supabase Message Webhook": {
      "main": [
        [
          {
            "node": "Is @Claud3 Mentioned?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is @Claud3 Mentioned?": {
      "main": [
        [
          {
            "node": "Fetch Recent Messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Recent Messages": {
      "main": [
        [
          {
            "node": "Build Claude Prompt",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Fallback Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Claude Prompt": {
      "main": [
        [
          {
            "node": "Call Claude API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Claude API": {
      "main": [
        [
          {
            "node": "Insert Claud3 Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Insert Fallback Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": true
  }
}